@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background: conic-gradient(from .5turn at bottom center, lightblue, white)
}

.container {
    /*border: 1px solid black;*/

    width: 95%;
    height: 80vh;
    margin: auto;
}

.block-einfuehrung {
    text-align: center;
    padding: 10px;
    margin-top: 3.5%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 17px 17px 0 0;
}

.block-main, .block-changelog {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 17px 17px;
}

.block-changelog h5{
    border: 1px solid black;
    margin: 0;
}


.block-changelog {
    font-size: 0.8rem;
}


ul {
    padding-left: 30px;
}