@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background: conic-gradient(from .5turn at bottom center, lightblue, white)
}

.container {
    border: 1px solid black;

    width: 95%;
    height: 80vh;
    margin: auto;
}

.block-einfuehrung {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.block-main {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

ul {
    padding-left: 30px;
}